<!-- product-list2.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List 2</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Product List 2</h1>
    <div id="product-list2">
        <% products2.forEach(product => { %>
            <div class="product-item">
                <h3><%= product.title.replace('Go to product: ', '') %></h3>
                <a href="<%= product.urlpg %>" target="_blank">
                    <img src="<%= product.img %>" alt="<%= product.title %>">
                </a>
                <p>Pricing: <%= product.pricing %></p>
                <div class="color-list">
                    <% JSON.parse(product.colour).forEach(colour => { %>
                        <span class="color-item"><%= colour %></span>
                    <% }); %>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Add to moodboard</button>
                    <div class="dropdown-content">
                        <a href="#">Option 1</a>
                        <a href="#">Option 2</a>
                        <a href="#">Option 3</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.dropbtn').click(function() {
                $('.dropdown-content').toggle();
            });

            // Close the dropdown if the user clicks outside of it
            $(document).click(function(event) {
                if (!$(event.target).closest('.dropdown').length) {
                    $('.dropdown-content').hide();
                }
            });
        });
    </script>
</body>
</html>
