products.forEach(product => { %>
    <% if (product.gender === 'female' || product.gender === 'male') { %>
        <div class="product-item" data-image-url="<%= product.img %>">
            <h3><%= product.title.replace('Go to product: ', '') %></h3>
            <a href="<%= product.urlpg %>" target="_blank">
                <img src="<%= product.img %>" alt="<%= product.title %>">
            </a>
            <p>S$<%= product.pricing %></p>
            <div class="color-list">
                <% JSON.parse(product.colour).forEach(colour => { %>
                    <span class="color-item"><%= colour %></span>
                <% }); %>
            </div>
            <button class="add-to-new-moodboard; navigation-button" data-image-url="<%= product.img %>">ADD</button>
        </div>
    <% } %>
<% }); %>
