<% products.forEach(product => { %>
    <% if (product.gender === 'female' || product.gender === 'male') { %>
        <div class="product-item" data-image-url="<%= product.img %>">
            <h3><%= product.title.replace('Go to product: ', '') %></h3>
            <a href="<%= product.urlpg %>" target="_blank">
                <img src="<%= product.img %>" alt="<%= product.title %>">
            </a>
            <p>Pricing: <%= product.pricing %></p>
            <div class="color-list">
                <% JSON.parse(product.colour).forEach(colour => { %>
                    <span class="color-item"><%= colour %></span>
                <% }); %>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Add to New Moodboard</button>
                <div class="dropdown-content">
                    <a href="#" class="add-to-new-moodboard" data-image-url="<%= product.img %>">Add</a>
                </div>
            </div>
        </div>
    <% } %>
<% }); %>
